
mixin social-media(src, alt)
    .social-media__item
        a(href="#")
            img(src=src alt=alt)

mixin navbar-item(item)
    li.navbar__item
        a(href="#")=item

mixin list(...items)
    each item in items
        .links__item
            a(href="#")=item

mixin credit-card(src, alt)
    .col-6.col-md-4.col-lg-3.creadit-card__item
        img(src=src, alt=alt)

mixin article(src, alt, title)
        .links__item.link
            .wrap-icon
                img(src=src, alt=alt)
            a(href="#")=title

mixin slider-sidebar(src, alt, title, desc)
    .slider__sidebar__detail
              img(src=src, alt=alt)
              .slider__sidebar__detail__info
                .title=title
                .desc=desc

mixin slider-sidebar--active(src, alt, title, desc)
    .slider__sidebar__detail.slider__sidebar__detail--active
              img(src=src, alt=alt)
              .slider__sidebar__detail__info
                .title=title
                .desc=desc

